p {
    color: blue;
}

a:hover {
    color: #e0e000;
}

body{
    background-color: #2b3136;
}

a{
    color:white;
}

h1
{
    color:white;
}

th {
    color: white;
}

.form-field {
    margin-bottom: 10px;
    color:white;
}

.form-field2 {
    margin-bottom: 10px;
    color:white;
}

.form-field:after{

    content:" *";
    color: red;
}
label.title{
    font-weight: bold;
}
label {
    color:white;
}
a {
    display:inline-block;
}

.test
{
    margin-left: 14px;
    margin-top: 10px;
}

dl {
    color:white;
}

.navbar-brand{
    margin-left: 27px;
}
