p {
    color: blue;
}

a:hover {
    color: #e0e000;
}

body{
    background-color: #caa2fa;
}

a{
    color:darkblue;
}

h1
{
    color:darkblue;
}

th {
    color: darkblue;
}

.form-field {
    margin-bottom: 10px;
}

.form-field:after{

    content:" *";
    color: red;
}
label.title{
    font-weight: bold;
}
